body {
  margin: 0;
  padding: 10px;
}
.imgBox {
  text-align: center;
}
img {
  width: 300px;
  border-radius: 50%;
}
.redP {
  color: red;
  font-size: 20px;
  font-family: system-ui;
}
a {
  text-decoration: none;
}
h1 {
  font-family: monospace;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
}
hr {
  height: 2px;
}
h2 {
  color: blue;
}
